<!-- <div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img class="img-fluid" src="/assets/img/coming-soon/shapeUp.png" alt="">
            <img class="img-fluid" src="/assets/img/coming-soon/logo.png" alt="">
        </div>
    </div>
</div> -->





<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="img-top" src="/assets/img/coming-soon/shapeUp.png" alt="">
            <img class="logo" src="/assets/img/coming-soon/logo.png" alt="">
        </div>
        <div class="col-12">
            <img class="img-bot" src="/assets/img/coming-soon/shapeDown.png" alt="">
        </div>
    </div>


  <img class="dog-logo" src="/assets/img/coming-soon/dogLogo.png" alt="">


  <img class="twitter" src="/assets/img/coming-soon/twitter.png" alt="">
  <img class="facebook" src="/assets/img/coming-soon/facebook.png" alt="">
  <img class="instagram" src="/assets/img/coming-soon/instagram.png" alt="">



</div>
