<nav class="navbar navbar-expand-lg navbar-light myPetsNav">
  <div class="container-fluid">
    <div class="col-2">
      <img src="../../../assets/img/logo.PNG" class="logoNav" alt="">
    </div>

    <div class="col-7 d-flex">
      <i class="bi bi-search searchButton"></i>
      <input class="form-control me-2 searchInput" type="search" placeholder="Search" aria-label="Search">
    </div>
 
    <div class="col-3 d-flex">
      <i class="bi bi-bag-heart cartButton"></i>
      <button class="navbar-toggler toggleButton ms-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="bi bi-list toggle-icon"></i>
      </button>
    </div>

  </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light  myPetsNav2">
  <div class="container-fluid d-flex justify-content-center sidebarMypets">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="inicio" routerLink="inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="servicios" routerLinkActive="active">Servicios</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
