<div class="container-fluid" id="footer-container">
    <div class="row">
      <div class="col-5">
        <img src="" class="responsive">
      </div>
      <div class="col-7">
        <h2>SOBRE NOSOTROS</h2>
        <h3>
          PROFESIONALES INMOBILIARIOS
        </h3>
        <h3 id="itemView">
          Expertos En Ventas. Para el año 2022 estaremos posicionados como la mejor opción, al momento de querer comprar,
          vender, o Hipotecar Bienes raíces.
        </h3>
      </div>
      <div id="itemView2"class="col-12 ">
        <h3 id="textFooter">
          Expertos En Ventas. Para el año 2022 estaremos posicionados como la mejor opción, al momento de querer comprar,
          vender, o Hipotecar Bienes raíces.
        </h3>
      </div>
      <div class="col-12  col-md-12">
      
        <div class="col-12 col-md-4" >proyectycucuta@gmail.com</div>
        <div class="col-12 col-md-4" >(+57) 3014052524</div>
        <div class="col-12 col-md-4" >3014052524</div>
       
      
      </div>
    </div>
  
  </div>